# Babel extraction configuration for QUILL.
# Run: pybabel extract -F babel.cfg -k _ -k "ngettext:1,2" -k lazy_gettext \
#          --project QUILL --copyright-holder "BITS" \
#          -o quill/locale/quill.pot .

[python: quill/**.py]
encoding = utf-8
